body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
}

.navbar {
    padding: 1rem;
}

.nav-link {
    color: #5f6368;
    margin-right: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.form-inline {
    width: 100%;
    max-width: 600px;
    flex-direction: column;
    align-items: center;
}

.form-control {
    padding: 10px 20px;
}

.btn {
    padding: 10px 20px;
    border-radius: 4px;
}

.btn-outline-secondary {
    border-color: #dfe1e5;
    color: #5f6368;
}

.btn-primary {
    background-color: #1a73e8;
    border-color: #1a73e8;
    color: white;
}

.advanced-search-container {
    margin: 20px;
}

.advanced-form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.advanced-form-group label {
    margin-right: 10px;
    flex-basis: 30%;
}