/* styles.css */

/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    /* Center align elements */
}

/* Navigation bar */
nav {
    text-align: right;
    padding: 10px 20px;
    background-color: #f2f2f2;
}

nav a {
    text-decoration: none;
    color: #1a0dab;
    margin-left: 20px;
    /* Increased spacing */
}

/* Form styling */
form {
    margin-top: 100px;
    position: relative;
    /* To position the buttons */
}

input[type="text"] {
    width: 400px;
    height: 30px;
    margin-top: 20px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    /* Rounded corners */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* General styling for buttons */
form input[type="submit"] {
    width: 120px;
    height: 36px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    /* Align buttons inline */
    margin: 20px 5px 0;
    /* Adjust margin for spacing */
}

.gray-btn {
    border: 1px solid #f2f2f2;
    background-color: #f8f9fa;
}

/* Specific style for 'I'm Feeling Lucky' and 'Advanced Search' buttons */
.blue-btn {
    background-color: #4285f4;
    /* Blue background */
    color: white;
    /* White text */
    border: none;
}

/* Responsive design: Adjusts layout for smaller screens */
@media screen and (max-width: 600px) {
    input[type="text"] {
        width: 90%;
    }

    /* Adjust button size for smaller screens */
    form input[type="submit"] {
        width: 100px;
        margin: 10px 5px 0;
    }
}